h1, h2{
    color: #C8100B;
   }
   .pizza-card{
    border-radius: 10px;
    height:100px;
    line-height:100px;
    padding: 3px 3px;
    background-clip: content-box;
   }
   .pizza-primary{
    color: #666D3B;
    background-color: #ECBC84;
    font-size: medium;
   }
   .pizza-danger{
    color: #C8100B;
   }
   .pizza-text-center{
    text-align: center;
   }
   .pizza-card a:link, .pizza-card a:visited{
    color:white;
    font-size: 1.1rem;
    text-decoration: none;
   }
   .pizza-card a:hover, .pizza-card a:active{
    color:#C8100B;
    text-decoration: none;
    font-size: 1.1rem;
   }
   .pizza-purple{
   color: #6d613b;
   background-color: #c3b1f7;
   font-size: medium;
   }
   .pizza-pink{
    color: #b483a0;
    background-color: #d37abd;
    font-size: medium;
   }
   .pizza-border{
        border: 1px solid black;
   }
  .text-shadow{
        text-shadow: px 2px 4px rgba(116, 0, 0, 0.5);
  }
   .font-family{
    font-family: Comic Sans MS, sans-serif; 
  }
  .font-size{
    font-size: 18px;
  }
  .font-weight{
    font-weight: bold; color: rgb(26, 15, 182);
  }
  .font-stretch{
    font-stretch: bold; color: rgb(250, 253, 82);
  }
